$primary-color: hsl(180, 29%, 50%);

$background-card-primary-color: white;

$light-grayish-cyan: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);


$text-primary: hsl(180, 29%, 50%);
$text-cyan: hsl(180, 31%, 95%);
$text-secondary: hsl(180, 8%, 52%);
